@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Soleil', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(15,23,42);
  color: #E2E8F0;
}

block {
  padding-top: 20px;
}

.wrapper {
  width: 400px; /* Set a specific width where you want text to wrap */
  word-wrap: break-word; /* This allows the text to wrap within the specified width */
}

.float {
  max-width: 70rem;
  padding: 1.5rem;
  border-radius: 0.375rem;
  transition: all 0.1s ease-in-out;
}

.float:hover {
  background-color: rgba(22, 36, 62, 0.5);
  border-color: #333;
  color: #4FD1C5;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Flashlight Overlay */
:root {
  --cursorX: 50vw;
  --cursorY: 50vh;
}
:root:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  pointer-events: none;
  background: radial-gradient(
    circle 30vmax at var(--cursorX) var(--cursorY),
        rgba(58, 97, 250, 0.2) 0%, /* More blue */
        rgba(58, 97, 250, 0) 80%, /* Original color */
        rgba(58, 97, 250, 0) 100%
  );
}


.mouse-circle {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.float svg:first-child {
  transition: transform 0.2s ease;
}

/* Define initial and hover positions using transform */
.float:hover svg:first-child {
  transform: translate(6px, -6px);
}

.floaty svg {
  transition: transform 0.2s ease;
}

/* Define initial and hover positions using transform */
.floaty:hover svg {
  transform: translate(6px, -6px);
}

/* Hide default scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(15,23,42); /* Dark color for the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #444; /* Light color for the handle */
  border-radius: 10px; /* Round corners of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999; /* Darker color on hover */
}

#dim {
  padding-top: 30px
}

/* fade ALL out on parent hover */
#dim:hover > div,
#dim:hover > a {
  opacity: 0.6;
}

/* fade ONE in on hover */
#dim > div:hover,
#dim > a:hover {
  opacity: 1;

}


@media screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
}
