/* styles.css */

.allButtons {
  width: 68%;
  background: var(--mobileMenu);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 15px;
}

.allButtons button {
  width: 100%;
  height: 27px;
  border: none;
  outline: none;
  cursor: pointer;
}

.allButtons button:nth-child(1) {
  background: #64ffda;
}

/* Add styles for other buttons here */

.Text {
  width: 100%;
  height: 400px;
  margin: auto;
  z-index: 10;
  display: flex;
  justify-content: start;
  align-item: start;
  flex-direction: column;
  position: relative;
}

.Text p {
  font-size: 20px;
  padding-bottom: 30px;
  font-weight: 900;
  top: 0;
  color: #b5b5b5;
}

/* Add more styles for Text component here */

.Profileback {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.Profile {
  height: 100%;
  overflow: hidden;
  flex: 0 0 55%;
  position: relative;
}

.Profile img {
  left: 50%;
  transform: translateX(-16%);
}

@media (max-width: 992px) {
  .Profile {
    flex: 0 0 100%;
  }
  .Profile img {
    transform: translateX(-10%);
  }
}

@media (max-width: 570px) {
  .Profile img {
    transform: translateX(0%);
  }
}

/* Add more styles for Profile component here */














@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
