@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Soleil', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(15,23,42);
  color: #E2E8F0;
  opacity: 0.9;

  background-attachment: fixed;
  background-size: cover;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

a {
 text-decoration: none;
 transition: 0.3s;

}

.custom-transparent-background {
  background-color: rgba(144, 227, 208, 0.25); /* Adjust the color and opacity as needed */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.float {
  display: block;
  max-width: 70rem;
  padding: 1.5rem;
  text-decoration: none;
  border-radius: 0.375rem;
  transition: all 0.1s ease-in-out;
  color:
}

.svg-container {
  position: relative;
}

.svg-container .svg-icon {
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 0.3s ease;
}

.svg-container:hover .svg-icon {
  transform: translate(5px, -5px); /* Adjust the values to control the translation */
}

.float:hover {
  background-color: rgba(22, 36, 62, 0.5);
  border-color: #333;
  color: #4FD1C5;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


.float svg:first-child {
  transition: transform 0.3s ease;
}

/* Define initial and hover positions using transform */
.float:hover svg:first-child {
  transform: translate(3px, -3px);
}

.floaty svg {
  transition: transform 0.3s ease;
}

/* Define initial and hover positions using transform */
.floaty:hover svg {
  transform: translate(3px, -3px);
}

.no-float {
  color: white;
}

.no-float:hover {
  color: #4FD1C5;
  position: fixed;
}